body {
  /*min-height: 2000px;*/
  padding-top: 70px;
}

.redBackground{
  background-color: #f04957;
}

.redColor{
  color: #f04957;
}

.textShadow{
  text-shadow: 1px 1px 0px rgba(210, 210, 210, 1);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input.firstName{
	margin-bottom: -1px;
 	border-top-right-radius: 0;
 	width: 50%;
 	margin-right:-4px;
}

.form-signin input.lastName{
	margin-bottom: -1px;
	border-top-left-radius: 0;
	width:50%;	
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.homepageHeading{
	text-align:center;
	margin-bottom: 30px;
}
.form-signin{
	background: #eee;
}